* {
    font-family: monospace;
}

body {
    font-size: 24px;
}

p {
    color: purple;
}

button, input, text, textarea, select {
    font: inherit;
}

.gray {
    color: gray;
}

#second {
    font-style: italic;
}

p span {
    text-transform: uppercase;
    background-color: gold;
}